.header {
    width: auto;
    height: auto;

    .carousel-item {
        height: auto;
        width: auto;
    }

    .banner img {
        border: 2px solid white;
        border-radius: 15px;
        width: 1300px;
        height: 500px;

        &:hover {
            filter: blur(2px);
        }
    }

}