.navLocal {
    height: 180px;
    width: auto;
    background-image: url(../img/fondoNav.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu {
    a {
        color: rgb(0, 0, 0);
        text-transform: capitalize;
        text-decoration: none;

        &:hover {
            color: black;
            font-weight: 700;
        }

        &.active {
            color: $rojoMain;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
            font-size: medium;
            font-weight: 600;
        }
    }

    li {
        &:not(:nth-child(3)) {
            list-style-type: none;
            overflow: hidden;
            box-shadow: 2px 5px $oroMain;
            border-radius: 95px;
            background-color: #ffffff;
            padding: 15px;
            text-align: center;

            &:hover {
                background-color: #eeeeee;
                box-shadow: 2px 5px $oroMain;
                transition: .3s;
                transform: scale(1.1);
            }
        }

        &:nth-child(3) {
            list-style-type: none;
            overflow: hidden;
            border-radius: 100%;
            background-color: #ffffff;

            &:hover {
                transition: .3s;
                transform: scale(1.05);
            }
        }
    }
}

.menuAlt {
    display: none !important;
}